
<div class="container">
  <div class="row container" style="margin-bottom:1%;">
    <button type="button" class="btn btn-danger" style="width:100%;">Emergency<i class="fa fa-bell-o" aria-hidden="true"></i></button>
    <p style="text-align:left; color:#C50000;">In case of any Emergency,Press this Button</p>
  </div>
    <div class="card" style="background-color:#C50000;">
            <div class="card-block" style="background:#FFFDEF;">
                <div class="row justify-content-center">
                    <div class="col" style="width:75px; margin:3px; padding:3px; border-right:solid; border-right-width:thin; border-right-color:red;">
                       <a routerLink="/notify" class="links"><img src="assets/notification.png" style="width:100%; height:auto;" class="mx-auto">
                       <p style="text-align:center;font-weight:bold;">Notify</p></a>
                       <a routerLink="/blood" class="links">   <img src="assets/notification.png" style="width:100%; height:auto;" class="mx-auto">                      
                        <p style="text-align:center;font-weight:bold;">Blood-Request</p></a>
                      
                      </div>
                    <div class="col" style="margin:3px; padding:3px;">
                        <a routerLink="/blood" class="links">   <img src="assets/notification.png" style="width:100%; height:auto;" class="mx-auto">                      
                          <p style="text-align:center;font-weight:bold;">Text-SMS</p></a>
                     <a routerLink="/blood" class="links">   <img src="assets/notification.png" style="width:100%; height:auto;" class="mx-auto">                      
                     <p style="text-align:center;font-weight:bold;">Chat</p></a>
                    </div>              
               </div>
            </div>
       </div>

       <div class="card" style="background-color:#C50000; margin-top:2%;">
          <div class="card-block" style="background:#FFFDEF;">
              <div class="row justify-content-center">
                  <div class="col" style="width:75px; margin:3px; padding:3px; border-right:solid; border-right-width:thin; border-right-color:red;">
                     <a routerLink="/nearby" class="links"><img src="assets/notification.png" style="width:100%; height:auto;" class="mx-auto">
                     <p style="text-align:center; font-weight:bold;">NearBy</p></a>
                     <a routerLink="/blood" class="links">   <img src="assets/notification.png" style="width:100%; height:auto;" class="mx-auto">                      
                      <p style="text-align:center;font-weight:bold;">Docs</p></a>
                    
                    </div>
                  <div class="col" style="margin:3px; padding:3px;">
                      <a routerLink="/blood" class="links">   <img src="assets/notification.png" style="width:100%; height:auto;" class="mx-auto">                      
                        <p style="text-align:center;font-weight:bold;">Videos</p></a>
                   <a routerLink="/blood" class="links">   <img src="assets/notification.png" style="width:100%; height:auto;" class="mx-auto">                      
                   <p style="text-align:center;font-weight:bold;">Alert</p></a>
                  </div>              
             </div>
          </div>
     </div>
</div>