
                  <!-- /#sidebar-wrapper -->
          
                  <!-- Page Content -->
      
                      <div class="card" style="background-color:#C50000;">
                          <div class="card-header"  style="text-align:center; background-color:#C50000;color:#FFFDEF;">Register</div>
                          <div class="card-block" style="background:#FFFDEF;">  
                              <div class="row"  class="phone" >
                                <div>
                                <a routerLink="/phone"><img src="assets/phone.png" width="100%"> </a>
                                </div>
                            <a routerLink="/phone" style="text-decoration:none;"><p style="text-align: center; color:#C50000;">Register with Phone</p></a>
                              </div>
                            
                              <a><div class="row" class="email">
                                    <div>
                    
                            <a routerLink="/email"><img src="assets/email.png" width="100%" height="auto"></a>
                                    </div>
                                    <a routerLink="/email" style="text-decoration:none;">    <p style="text-align: center;color:#C50000;">Register with Email</p></a>
                                  </div> 
                                </a>                           
                            </div>
                        </div>
                                  
             

             















